@media (max-width: 1199px){
    .top-article .article-content h2,
    .top-article .article-content h4 {
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 16px;
        line-height: 1.3;
    }
}
@media (max-width: 767px){
    body { padding-top: 40px;}
    .logo{
        padding:15px 15px 10px!important;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .navbar {padding: 0rem 0rem; }
    .navbar-brand { padding-right: 65px;}
    .navbar-toggler-right { right: 10px; top: -50px; pointer-events: auto;}
    .navbar-collapse#navbar-top { margin-top: 15px;}

    #searchModal .modal-content { padding: 20px!important; }
    #searchModal .modal-content h4.found-result{ font-size: 14px;}
    #searchModal .modal-content .p-4 { padding: 15px!important;}
    #searchModal .modal-content .title {letter-spacing: 1px; font-size: 12px; font-weight: bold; margin-bottom: 5px;}
    #searchModal .modal-content .search-date { margin-bottom: 5px;}
    #searchModal .modal-content .see-all-btn { font-size: 14px; height: 38px; line-height: 35px; letter-spacing: 1px; padding: 0 15px; }
    .top-article .article-content .cb-byline {
        font-size: 9px;
        letter-spacing: 1px
    }
    .grid-img { height: auto;}
    #ff-stream-block {
        padding: 20px 10px!important;
    }
    .ff-item-bar { height: auto!important; padding-left: 10px!important; padding-right: 10px!important;}

    /* The side navigation menu */
    .sidenav {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 100; /* Stay on top */
        top: 0;
        left: 0;
        background-color: #010101; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 50px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }

    /* The navigation menu links */
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #ffffff;
        display: block;
        transition: 0.3s
    }

    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover, .offcanvas a:focus{
        color: #f1f1f1;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 15px;
        font-size: 30px;
        line-height: 50px;
        padding: 0px 10px;
        cursor: pointer;
    }

    .top-bar { padding: 11px 10px; position: fixed; top:0; width: 100%; z-index: 18;}
    .navbar-light .navbar-nav { background: #161616; height: 100%; padding: 30px 15px 15px;}
    .navbar-light .navbar-nav .nav-link {color: #ffffff;}
    .container { width: 100%;}
    .home-header-banner { padding: 0px!important;}
}

@media (max-width: 575px) {
    .top-article .article-content h2 {
        font-size: 14px;
    }
    .top-article .article-content h4 {
        font-size: 12px;
    }
    .external-link { font-size: 16px; vertical-align: sub; margin-left: 0px!important;}

    .feed-view,
    .feed-likes,
    .feed-comments
    { width: 50%;
        display: inline-block;
    }
    h6.ff-item-bar { padding-right: 45px!important;}
    a.external-link { top:10px; right:10px;}
    .ff-item-bar i { margin-left: 0px;}
    a.external-link { width: 34px;}


}

@media (max-width: 374px) {
    .feed-view,
    .feed-likes,
    .feed-comments {
        width: 100%;
    }
}
@media (max-width: 1519px) {
    .left-ads,
    .right-ads { display: none;}
}
@media (min-width: 576px){

    .ff-slideshow .ff-item-bar a.external-link { border-radius: 0px!important; margin: 0px!important;}
    .ff-slideshow .ff-item-bar a.external-link i.fa-long-arrow-up,
    .ff-slideshow .ff-item-bar a.external-link { color: #fff!important;}
    .ff-slideshow .ff-item-bar { padding-right: 60px!important;}

}

@media (min-width: 768px){
    .grid-img:last-of-type { padding-left: 4px;}
    .grid-img:last-of-type .top-article { left: 4px;}


}

@media (min-width: 992px) and (max-width: 1199px){
    .grid-img { height: 250px;}
}

