@media (max-width: 1199px){
    .top-article .article-content h2,
    .top-article .article-content h4 {
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 16px;
        line-height: 1.3;
    }
}
@media (max-width: 767px){
    .logo{
        margin-top: 5px;
        margin-bottom: 5px;
        padding:0px 100px 0px 25px!important;
        height: 50px;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .navbar {padding: 0rem 0rem; }
    .navbar-brand { padding-right: 65px;}
    .navbar-toggler-right { right: 10px; top: -50px;}
    .navbar-collapse#navbar-top { margin-top: 15px;}

    #searchModal .modal-content { padding: 20px!important; }
    #searchModal .modal-content h4.found-result{ font-size: 14px;}
    #searchModal .modal-content .p-4 { padding: 15px!important;}
    #searchModal .modal-content .title {letter-spacing: 1px; font-size: 12px; font-weight: bold; margin-bottom: 5px;}
    #searchModal .modal-content .search-date { margin-bottom: 5px;}
    #searchModal .modal-content .see-all-btn { font-size: 14px; height: 38px; line-height: 35px; letter-spacing: 1px; padding: 0 15px; }
    .top-article .article-content .cb-byline {
        font-size: 9px;
        letter-spacing: 1px
    }
    .grid-img { height: 220px;}
    #ff-stream-block {
        padding: 20px 10px!important;
    }
    .ff-item-bar { height: auto!important; padding-left: 10px!important; padding-right: 10px!important;}

}

@media (max-width: 575px) {
    .top-article .article-content h2 {
        font-size: 14px;
    }
    .top-article .article-content h4 {
        font-size: 12px;
    }
    .external-link { font-size: 16px; vertical-align: sub; margin-left: 0px!important;}

}

@media (max-width: 375px) {
    #ff-stream-2 .ff-item { max-width: 162px;}
}
@media (max-width: 1519px) {
    .left-ads,
    .right-ads { display: none;}
}
@media (min-width: 576px){
    a.external-link {
        font-size: 16px;
        vertical-align: middle;
        color: #fff!important;
        position: absolute;
        right: 0px;
        background: #959595;
        top: 0px;
        width: 43px;
        height: 43px;
        text-align: center;
        border-radius: 0px 0px 6px 0px;
        margin: 0px;

    }
    a.external-link:hover {background: #444444;}
    a.external-link i.fa-long-arrow-up {
        margin: 0px!important;
        line-height: 43px;
        color: #fff!important;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    #ff-stream-1-slideshow .ff-item-bar a.external-link { border-radius: 0px!important; margin: 0px!important;}
    #ff-stream-1-slideshow .ff-item-bar a.external-link i.fa-long-arrow-up,
    #ff-stream-1-slideshow .ff-item-bar a.external-link { color: #fff!important;}
    .ff-slideshow .ff-item-bar { padding-right: 60px!important;}

}

@media (min-width: 768px){
    .grid-img:last-of-type { padding-left: 4px;}
    .grid-img:last-of-type .top-article { left: 4px;}

}

@media (min-width: 992px) and (max-width: 1199px){
    .grid-img { height: 250px;}
}

